/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#353842, #353842);
}
::selection {
    color: #fff;
    background: #4671ea;
}
.wrapper {
    width: 470px;
    background: #ecbd00;
    border-radius: 5px;
    padding: 25px 25px 30px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.06);
    margin-right: 20px;
}
.wrapper h2 {
    color: #353842;
    font-size: 28px;
    text-align: center;
}
.wrapper textarea {
    width: 100%;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: #4671ea;
    border: 1px solid #bfbfbf;
}
textarea::placeholder {
    color: #b3b3b3;
}
textarea:is(:focus, :valid) {
    padding: 14px;
    border: 2px solid #ffcc00;
}
textarea::-webkit-scrollbar {
    width: 0px;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #f1c40f;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 40px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(45deg,#f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: 300ms ease-in-out;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
    background-position: 0;
}

.input-text {
    background-color: black;
    position: relative;
    width: 150px;
    height: 30px;
}

input[type=text] {
    font-weight: bold;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid black;
    transition: 0.4s;
    padding: 8px;
    width: 150px;
    height: 30px;
    bottom: 10px;
    left: 10px;
}

input[type=text]:focus {
    bottom: 0;
    left: 0;
}

.input-checkbox {
    background-color: black;
    position: relative;
    width: 30px;
    height: 30px;
}

